# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Jwt.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\My project\MyCode\Jwt\.idea\.idea.Jwt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
